button {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: lightblue;
  border: none;
  border-radius: 10px;
  color: white;
  width: 375px;
}

textarea, input {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background-color: lightgrey;
  width: 345px;
}
